<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.gen.mapper.GeneratorMapper">

  <select id="selectTableInfoByTableName" resultType="com.person.gen.entity.TableInfo">
    SELECT table_name, table_comment FROM information_schema.TABLES
    <where>
      table_schema = (SELECT DATABASE()) AND table_name = #{tableName}
    </where>
    ORDER BY create_time DESC
  </select>
    
  <select id="selectColumnInfoByTableName" resultType="com.person.gen.entity.ColumnInfo">
    SELECT 	column_name, is_nullable, data_type, column_comment, column_key, extra FROM information_schema.COLUMNS
    WHERE table_name = #{tableName} AND table_schema = database() ORDER BY ordinal_position
  </select>

</mapper>
