<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.gen.mapper.LoginLogMapper">

  <sql id="loginLogColumns">
    id,login_name,ip,login_status,login_time,spend_time,browser_name,browser_type,browser_version,operation_system,remark
  </sql>

  <insert id="insertLoginLog">
    INSERT INTO login_log(<include refid="loginLogColumns"/>)
    VALUES (
    #{loginLog.id},
    #{loginLog.loginName},
    #{loginLog.ip},
    #{loginLog.loginStatus},
    #{loginLog.loginTime},
    #{loginLog.spendTime},
    #{loginLog.browserName},
    #{loginLog.browserType},
    #{loginLog.browserVersion},
    #{loginLog.oprationSystem},
    #{loginLog.remark}
    )
  </insert>

  <update id="updateLoginLog">

  </update>

  <delete id="deleteLoginLog">
    DELETE FROM login_log WHERE id = #{id}
  </delete>

  <select id="selectLoginLog" resultType="com.person.gen.entity.LoginLog">
    SELECT <include refid="loginLogColumns"/> FROM login_log WHERE id = #{id}
  </select>

  <select id="selectLoginLogPage" resultType="com.person.gen.entity.LoginLog">
    SELECT <include refid="loginLogColumns"/> FROM login_log
  </select>

</mapper>